<!DOCTYPE html>
<html> 
    <title>Location History</title>
    <head>
        {% load static %}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
        crossorigin=""/> 
        <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin=""></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

        {{ log_list_json|json_script:"log_list_json" }}

        <script type="module" src="{% static 'LocationHistory/LocationHistory.js' %}" ></script>
        <link rel="stylesheet" type="text/css" href="{% static 'LocationHistory/LocationHistoryList.css' %}" >
    </head>

    <body style="height: 100%;margin: 100px">
       
       <div class="card shadow-sm">
           <div class="card-body">
                    
                <form action="" method="get"
                    {% csrf_token %}

                    <div class="row">
                        <div class="col-12 col-sm-6 col-md-4">
                            <label for="from-date">From Date</label>            
                            {{ form.from_date }}
                        </div>
                        <div class="col-12 col-sm-6 col-md-4">
                            <label for="to-date">To Date</label>
                            {{ form.to_date }}
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-12 col-sm-6 col-md-4">
                            <label for="order-by">Order By</label>
                            {{ form.order_by }}
                        </div>
                        <div class="col-12 col-sm-6 col-md-4">
                            <label for="records">Records</label>
                            {{ form.records_per_page }}
                        </div>
                        <div class="col-12 col-sm-6 col-md-4">
                            <div><button type="submit" class="btn btn-warning" style="position: relative; top: 23px;">Search</button></div>
                        </div>  
                    </div>
                    <br>    
                </form>
            </div>
       </div>
          
            <div class="table-responsive border border-dark rounded">
                <table class="table table-striped table-sm border-0 my-0">
                    <thead>
                        <tr class="align-middle">
                          <th scope="col" style="width:50%"  class="col text-nowrap text-center">Map</th>
                          <th scope="col" style="width:25%" class="col text-nowrap text-end">Date </th>
                          <th scope="col" style="width:12%" class="col text-nowrap text-end">Latitude </th>
                          <th scope="col" style="width:12%" class="col text-nowrap text-end">Longitude</th>
                        </tr>
                    </thead>
                   
                    {% for location in log_list %}
                    <tr class="align-middle">
                        <td class="map" id="map{{ forloop.counter }}" style="height: 300px; width: 50%; border-style: solid; box-shadow: 7px 7px 5px lightgray;"></td>
                        <td class="text-nowrap text-end" ><h1>{{location.location_datetime}}</h1></td>
                        <td class="text-nowrap text-end" ><h1>{{location.location_latitude}}</h1></td>
                        <td class="text-nowrap text-end" ><h1>{{location.location_longitude}}</h1></td>
                    </tr>
                    {% empty %}
                        <td class="text-center" colspan="5">No Data, use the Location History program to add some!</td>
                    {% endfor %}
                    
                </table>
            </div>

            {% load my_tags %}
                        <nav aria-label="...">
                            <ul class="pagination">
                                {% if log_list.has_previous %}
                                    <li class="page-item">
                                        <a class="page-link" href="?{% param_replace page=log_list.previous_page_number %}">Previous</a>
                                    </li>
                                {% else %}
                                    <li class="page-item disabled">
                                        <a class="page-link" href="#" tabindex="-1">Previous</a>
                                    </li>
                                {% endif %}

                                {% for page in page_list %}

                                    {% if page == log_list.number|stringformat:"i" %}
                                        <li class="page-item active">
                                            <a class="page-link" href="#">{{ log_list.number}} <span class="sr-only"></span></a>
                                        </li>
                                    {% else %}
                                        <li class="page-item"><a class="page-link" href="?{% param_replace page=page %}">{{ page }}</a></li>
                                    {% endif %}

                                {% endfor %}

                                {% if log_list.has_next %}
                                    <li class="page-item">
                                        <a class="page-link" href="?{% param_replace page=log_list.next_page_number %}">Next</a>
                                    </li>
                                {% else %}
                                    <li class="page-item disabled">
                                        <a class="page-link" href="#" tabindex="-1">Next</a>
                                    </li>
                                {% endif %}
                            </ul>
                        </nav>



        </body>
        
   

</html>